<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>TimeWellSpent</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key>
    <string>TimeWellSpent</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>AppGroupIdentifier</key>
    <string>$(APP_GROUP_IDENTIFIER)</string>
    <key>SupabaseURL</key>
    <string>$(SUPABASE_URL)</string>
    <key>SupabaseAnonKey</key>
    <string>$(SUPABASE_ANON_KEY)</string>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UIAppFonts</key>
    <array/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>timewellspent</string>
    </array>
    <key>NSCalendarsUsageDescription</key>
    <string>TimeWellSpent schedules activity monitoring.</string>
    <key>NSUserActivityUsageDescription</key>
    <string>Used to manage Screen Time shields.</string>
</dict>
</plist>
